:root {
	background: black;
	color: white;
  font-family: 'Roboto Flex', sans-serif;
}

Header h1 {
	text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 3rem;
  margin-top: 0%;
  margin-bottom: 0%;
  text-shadow: 5px 5px 5px rgb(116, 0, 0);

}

Header h2 {
	text-align: center;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1rem;
  margin-top: 0%;
}

Nav {
	background-color: darkred;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
}

.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navbar li {
	display: inline-block;
	margin-right: 10px;
}

.navbar a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
	background-color: transparent;
}

.navbar a:hover {
	background-color: #660000;
}

.article-card {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  max-height: fit-content;
  max-width: 80%;
  margin: 20px;
  border-radius: 1rem;
  align-items: center;
}

.card-content{
  flex: 1;
  padding: 10px;
  text-align: center;
}

.article-card:hover{

  background-color: rgb(148, 0, 0);
  overflow:hidden;

}

.article-card:hover .article-des{

  visibility: visible;
  background-color: rgb(167, 173, 206);
  text-align: center;
  line-height: 0.3rem;

}

/* .article-desc{
  visibility: hidden;
  background-color: red;
} */